<ion-view view-title="Jogar">

    <ion-content class="padding">
  
        <h3>
          Quem reprovava os calouros em seu programa tocando uma buzina?
        </h3>
    
          <button ng-repeat="alternativa in alternativas" id="{{alternativa.id}}" class="button button-block" on-tap="onTap({{alternativa.id}})">
            {{alternativa.resposta}}
          </button>

        <button class="button button-dark">Pular (3x)</button>
        <button class="button button-dark">Cartas</button><p>4 Cartas. Rei nao vale nada. Elimina 1, 2 ou 3 respostas</p>
        <button class="button button-dark">Convidados</button>
        <button class="button button-dark">Placas</button>
      
      </ion-content>

  </ion-view>  