<ion-view view-title="Playlist">
  <ion-content>

    <div class="descricao">
      Sua Pontuação <br>
      (Até 999 Pontos)
    </div>
    <div class="pontuacao wayra">
      999
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <h2>Qual seleção não vai pra copa da Rússia de 2018?</h2>
        <ion-list>
          <ion-radio ng-change="change()" ng-model="x" ng-value="'A'">Brasil</ion-radio>
          <ion-radio ng-change="change()" ng-model="x" ng-value="'B'">Alemanha</ion-radio>
          <ion-radio ng-change="change()" ng-model="x" ng-value="'C'">Italia</ion-radio>
          <ion-radio ng-change="change()" ng-model="x" ng-value="'D'">Costa Rica</ion-radio>
        </ion-list>
      </div>
    </div>

    <div class="card card-dicas">
      <div class="item item-text-wrap">

        <div class="row">
          <div class="col">
            <button class="button button-full button-ligth icon ion-information">
              Dica
            </button>
          </div>

          <div class="col">
            <button class="button button-full button-ligth icon ion-close-round">
              Eliminar
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button class="button button-full button-ligth icon ion-forward">
              Pular
            </button>
          </div>

          <div class="col">
            <button class="button button-full button-ligth icon ion-plus-round">
              Dobrar
            </button>
          </div>
        </div>

      </div>
    </div>

  </ion-content>

  <div class="bar bar-footer bar-dark">
    <div class="button-bar">
      <button class="button button-clear icon ion-android-arrow-back"></button>
      <button class="button button-clear icon ion-checkmark-round"></button>
      <button class="button button-clear icon ion-android-arrow-forward"></button>
    </div>
  </div>

</ion-view>
