.scroll-content {
    background-image: url('../img/bg.jpg');
    background-size: cover;
}

.item {
    background: none;
    border: none;
}

.item-content {
    background: rgba(97, 97, 0, 0.4) !important;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    color: white !important;
}

.descricao {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

.pontuacao {
    background-color: white;
    color: balck;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 88px;
    height: 88px;
    line-height: 88px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    z-index: 4;
}

.card {
    background: rgba(112, 112, 0, 0.2);
}

.item-text-wrap {
    padding: 5px;
}

.item-text-wrap h2 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.radio-icon {
    color: white;
}

.card-dicas {
    margin-bottom: 50px;
}

.card-control button {
    border-radius: 50%;
}

.button-ligth {
    border-radius: 10px;
    background-color: rgba(255, 255, 0, 0.35);
    color: white;
}

.bar.bar-stable, .bar.bar-footer.bar-dark {
    background: #0e2f7f;
}
.header-item, .ion-navicon {
    color: white !important; 
}

.logo {
    width: 150px;                                                                                                                                                                                                                                                                                                                                                                                                           
    height: 70px;
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 5;
    background-image: url('../img/logo.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(-5px 4px 3px);
}